//*** COLORS VARIABLES ***
$primary_color: #272727;
$accent_color: #ff652f;
$etxt_color: #fff;

//*** FONTS VARIABLES ***
$font-weights: ( // Font weight
    "regular" : 400,
    "medium" : 500,
    "bold" : 700 // Bold
);

//*** RESPONSIVE VARIABLES ***
$mobile: 800px;